
<mc-loading  *ngIf="isLoading$|async"></mc-loading>
<mc-error-message *ngIf="error$|async"></mc-error-message>
<div *ngIf="feed$|async">
  <div class="article-preview" *ngFor="let article of (feed$|async)!.articles">
    <div class="article-meta">
      <a [routerLink]="['/profiles',article.author.username]">
        <img [src]="article.author.image" alt="">
      </a>
    </div>
    <div class="info">
      <a [routerLink]="['/profiles',article.author.username]">

        {{article.author.username}}
      </a>
      <span class="date">{{article.createdAt}}</span>
      <div class="pull-xs-right">
        ADD TO FAVORITES
      </div>
    </div>
    <a [routerLink]="['/articles',article.slug]" class="preview-link">
      <h1>{{article.title}}</h1>
      <h1>{{article.description}}</h1>
      <span>Read more..</span>
      HERE LIST OF TAGES
    </a>
  </div>
  PAGINATION
</div>
